<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin site</title>
  </head>
  <body>
    <form action="">
      <label>Username</label>
      <input id="username" type="text" />
      <label>Password</label>
      <input id="password" type="password" />

      <label>New Admin Username</label>
      <input id="adminUsername" type="text" />
      <label>New Admin Password</label>
      <input id="adminPassword" type="password" />
      <input type="button" id="submit" value="Submit" />
    </form>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/admin.js"></script>
</html>
